/*--------------------------------------------------------------
content
--------------------------------------------------------------*/
.tax-menus{
  .uk-article + .uk-article{
    margin-top: 0;
  }
  .uk-badge{
    float: right;
    position: relative;
    top: 26px;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 12px;
  }
  figcaption{
    background: @primary-color;
    text-align: center;
    font-style: italic;
    padding: 15px;
  }
  .uk-article-title{
    font-size:24px;
    text-align: center;
    margin-bottom: 0;
  }
  .tm-article-image{
    margin: -20px 0 0 0;
  }
  .uk-grid{
    margin-right: -13px;
  }
}
