/*--------------------------------------------------------------
Site
--------------------------------------------------------------*/
a{
  .transition(all .4s ease-in-out);
}
.tm-site{
  @media (min-width: @breakpoint-medium) {
    border: @site-frame solid @white;
  }
}
.tm-main{
  background: @global-background;
}
.divider{
  //margin-top: 25px;
  //margin-bottom: 25px;
}
.divider .uk-icon-small{
  color: @primary-color;
  font-size:13px;
  .home .tm-hero-title &{
    color:@white;
  }
}
.divider:after,.divider:before{
  content: "";
  background-color: @primary-color;
  position: absolute;
  margin-top: 17px;
  width: 50px;
  height: 1px;
  .home .tm-hero-title &{
    background-color:@white;
  }
}
.divider:after {
  margin-left: 4px;
  margin-top: 17px;
  .tm-section-title &{
    margin-top: 17px;
    margin-left: 4px;
  }
}
.divider:before {
  margin-left: -57px;
}
