/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

.tm-header{
  border-bottom:none;
  padding: @global-margin;
  background:rgba(0,0,0,.6);
  &.no-image{
    background: #f5f5f5;
  }
  &.uk-active,.uk-active.no-image{
    background: @white;
  }
  &.uk-active,&.no-image{
    border-bottom: 1px solid @global-border;
    .tm-site-branding a{
      color:@secondary-color;
    }
  }
  
}
.tm-header-wrapper {
  @media (min-width: @breakpoint-medium) {
    border-bottom: @site-frame*2 solid @white;
    margin-bottom: -@site-frame*2;
  }
  &.no-image{
    .uk-heading-large{
      color: @primary-color;
      font-size: 45px;
      @media (min-width: @breakpoint-small) {
        font-size: 60px;
      }
    }
  }

}
.tm-site-branding{
  a{
    font-weight: 400;
    color: @white;
    text-transform: uppercase;
    border-bottom: 3px solid @primary-color;

  }
}

  .tm-hero-title {
    margin-top: 40px;
    .home &{
      margin-top: 0;
    }
    h1, .tm-hero-subtitle {
      color: @white;
    }
  }

