/*--------------------------------------------------------------
Header nav
--------------------------------------------------------------*/
.tm-header{
  .uk-navbar-nav > li > a{
    color: @white;
    font-weight: 400;
    font-size:15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover{
      color:@primary-color;
    }

  }

  &.uk-active, &.no-image {
    .uk-navbar-nav > li > a {
      color: @secondary-color;
      font-weight: 600;
      &:hover{
        color: @primary-color;
      }
    }
    .uk-dropdown-navbar{
      background: @white;
      border:1px solid @global-border;
    }
    .uk-nav-dropdown > li > a{
      color:@secondary-color;
      border-top:1px solid @global-border;
    }
    .uk-nav-dropdown > li:first-child > a{
      border-top:none;
    }

  }
  //hamburger icon
  .uk-icon-navicon:before, .uk-icon-reorder:before, .uk-icon-bars:before{
    font-size:24px;
  }
}


  .uk-nav-offcanvas {
  .sub-menu{
    a{
      font-size:12px;
      &:hover{
        background: darken(@primary-color,5%);
      }
    }
  }
}
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus{
  background: darken(@primary-color,5%);
}

