/*--------------------------------------------------------------
HERO HOME
--------------------------------------------------------------*/
.home .tm-hero-title {
  height: 80vh;
  min-height: 600px;
  margin-top: 33vh;
}

