/*--------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------*/
.tm-hero-title{
  .uk-heading-large{
    font-size:67px;
    line-height: 82px;
  }
}
.tm-section-title .uk-heading-large{
  font-size:50px;
}

