/*--------------------------------------------------------------
parallax
--------------------------------------------------------------*/
.tm-parallax-content{
  //padding: 100px 0;
  //background-color:#369;
  //opacity:0.5;
  width: 100%;
}
