/*--------------------------------------------------------------
  MENU SWITCHER
  --------------------------------------------------------------*/
.tm-subnav-panel-switcher{
  a{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 400;
    letter-spacing:1px;
    .transition();
    
  }
}
.tm-panel-switcher{
  .switcher-content{
    padding: 10px 60px 60px 60px;
    background: lighten(@primary-color, 35%);
    overflow: hidden !important;
  }
  .uk-panel{

  }
  img{
    border-radius: 50px;
  }
  .uk-panel-title{
    background: @primary-color;
    display: inline-block;
    padding: 4px 15px;
    a{
      color: @white;
    }
  }
  .uk-badge{
    padding: 5px 15px;
    background-color: transparent;
    border:1px solid @primary-color;
    color: @primary-color;
    font-size:13px;
  }
  .tm-switcher-content{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
  }
  .uk-subnav-pill > .uk-active > *{
    background: @primary-color;
  }
}